{% extends 'base.html' %}

{% block content%}
<button class="btn btn-dark btn-sm text-white mt-3 mx-4">
    <a class="text-decoration-none py-1 text-white" href="{% url 'usertask' %}"> ⬅ Back</a>
</button>

<div class="container">
    <div class="row">
        <div class="col-md-6  mx-auto mt-3 bg-secondary rounded">
            <form method="POST">
                <h1 class="display-6">Create Groups</h1>

                {{error}}
                {% csrf_token %}
                
                {{ form }}

                <button class="btn btn-dark mt-3 mb-3"> Submit </button>
            </form>
            {% comment %} <form method="POST">
                {% csrf_token %}
                <input name="find">{{user }}
                <button class="btn btn-dark mt-3 mb-3"> Submit </button>
            </form> {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}