{% extends 'base.html' %}

{% block content %}

    <div class="row mt-3">
        <div class="col-5">
            <div class="card">
                <div class="card card-body text-white bg-secondary">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row align-items-end">
                            <div class="col">
                                {{form}}
                            </div>
                            <div class="col">
                                <button class="btn btn-dark p-1"> ✏️ Change Name </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-3">
            <div class="card">
                <div class="card-header bg-secondary text-white">Members</div>
                {% for x in members %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark text-white">{{x.person.username}}</li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="col-7 mx-auto">
            <div class="card">
                <div class="card-header bg-secondary text-white">Group Tasks</div>
                {% for x in tasks %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-decoration-none" href="{% url 'groupTaskDetail' x.id %}">
                            <strong> {{x.title}}</strong>
                        </a>
                    </h5>
                    <p class="card-text">{{x.description}}</p>
                    <p class="card-text">{{x.coment}}</p>
                    <p class="card-text">{{x.datecompleted|date:'M j Y:i'}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}