{% extends 'base.html' %}

{% block content %}

    <div class="row mt-3 justify-content between">
        <div class="col-5">
            <div class="card">
                <div class="card card-body text-white bg-secondary">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row align-items-end">
                            <div class="col">
                                <label for="id_name">Current Group Name:</label>
                                <input type="text" name="name" value="{{cgroup.name}}" class="form-control" placeholder="Enter name of group" maxlength="128" required="" id="id_name">
                            </div>
                            <div class="col">
                                <button class="btn btn-dark p-1"> ✏️ Change Name </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-5">
            <button class="btn">
                <a class="text-decoration-none py-1 text-dark" href="{% url 'createGroupTask' group %}">➕ Create Group Task </a>
            </button>
        </div>
    
    </div>
    <div class="row mt-3 justify-content-between">
        <div class="col-3">
            <div class="card">
                <div class="card-header bg-secondary text-white">Members</div>
                {% for x in members %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark text-white">{{x.person.username}}</li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="col-8 mx-auto">
            <div class="row">
        {% for x in tasks %}
                <div class="col-12 mb-3">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <div class="row">
                                <div class="col">
                                    <a class="text-decoration-none text-white" href="{% url 'groupTaskDetail' x.id %}">
                                        <strong> {{x.title}}</strong>
                                    </a>
                                </div>
                                <div class="col">
                                    <form action="{% url 'groupTaskDelete' x.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-dark text-decoration-none mx-5 text-white"><strong> ⛔ Delete</strong></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Description:  {{x.description}}</p>
                            <p class="card-text">{{x.datecompleted|date:'M j Y:i'}}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}