{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-2 text-center">Django task app</h1>
        
        <div class="row mt-4 mx-auto">
            <div class="col-12 bg-dark text-white rounded mb-2">
                <h1 class="fw-normal">App Description</h1>
                <p class="mt-3" style="text-align: justify; text-justify: inter-word;">This project is a task manager application, which allows the user to manage tasks and subdivide them by categories as well as the option to manage a group and enter members to perform tasks together as a group, as a last thing the application is made from the Django framework and the Python language.</p>
            </div>
        </div>

        <div class="mt-1">
            <a class="btn btn-secondary" href="login/">
                Login
            </a>
            <a class="btn btn-dark" href="signup/">
                Register
            </a>
        </div>

        <div class="row mt-5">
            <div class="col-4">
                <p>Copyright © 2023 by Anonymous Group </p>
            </div>
            <div class="col-8">
                <p>Contacts: 1.- Juan Alonso Astudillo Murua 2.- Bruno Robinson Morales 3.- Sebastián Maúlen</p>
            </div>
        </div>

    </section>
</main>


{% endblock %}