{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django task app</h1>
        <p>Contacts: 1.-Juan Alonso Astudillo Murua 2.-Bruno Robinson Morales 3.-Sebastian Maulen</p>

        <div>
            <a class="btn btn-secondary" href="login/">
                Login
            </a>
            <a class="btn btn-dark" href="signup/">
                Register
            </a>
        </div>
    </section>
</main>


{% endblock %}