{% extends 'base.html' %}

{% block content%}
<a class="text-decoration-none py-1" href="{% url 'usertask' %}"> <- Back</a>
<main class="container py-2">
    <div class="card">
        <div class="card card-body">
            <h4>Task name: {{ task.title }}</h4>
            {{error}}
            
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-dark"> Update </button>
            </form>

            <div class="row mt-3">
                <div class="col-md-2 mx-1">
                    <form action="{% url 'completeTask' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-success">Mark completed </button>
                    </form>
                </div>
                <div class="col-md-2 mx-1">
                    <form action="{% url 'deleteTask' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger"> Delete </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock%}